:root{
  --primary:#f5f5f4;
  --secondary:#7694b6;
  --black:#333;
  --white:#030303;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FB0928;
  border-radius: 5px; 
}
  
::-webkit-scrollbar-track {
  background-color: #252525;
}

.navbar-toggler{
  background-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  transition: background-color 1s ease;
}

main{
  background-color: rgb(245, 245, 245)
}

body{
  background-color: rgb(245, 245, 245);
  padding-top: 4%;
  overflow-x: hidden;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
}

#app-header{
  background-color: rgb(10, 10, 10) !important;
  height: 10vh;
  display: flex;
  top: 0;
  position: fixed;
  z-index: 1000000;
  width: 100vw;
  padding: 0 !important;
}

#app-header img{
  width: 310px;
  object-fit: contain;
  padding: 0 !important;
}

.nav-link{
  color: white !important;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-link:hover{
  color: #FB0928 !important;
}

#navbarNav{
  padding-right: 5%;
}

label{
  color: rgb(248, 248, 248);
}

form{
  background-color: rgb(10, 10, 10);
  padding: 15px;
  border-radius: 10px;
  padding: 30px 25px ;
}

form h2{
  font-size: 1.6rem;
  text-align: center;
  color: aliceblue;
}

.col-auto{
  display: flex;
  align-items: end;
  justify-content: end;
  margin-top: 50px;
}

.form-label{
  margin: 0;
}

.bienvenida{
  background-color: black;
  color: rgb(235, 235, 235);
  font-size: 20px;
  padding: 8px;
}

.email {
  color: white;
  margin-top: 10vh;
  text-decoration: none;
}

.email:hover {
  color: #FB0928;
}

.imgEmail{
  margin-right: 15px;
}
.section1{
  background-image: url(./Img/Computadora\ negra.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
}
.filtro{
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: #030303;
  filter: opacity(.5);
  z-index: 1;
}
.section1-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3vw 3vw 0px 3vw;
  gap: 25px;
  padding-top: 14vh;
  z-index: 2;
}
.imgHero{
  width: 70%;
  margin-top: 30px;
}
input{
  background-color: #0076ec;
}
.textHero1{
  color: rgb(248, 248, 248);
  text-align: start;
  font-size: 2.7rem;
  font-weight: 600;
}
.textHero{
  color: rgb(248, 248, 248);
  text-align: start;
  font-size: 1.3rem;
  margin-top: -25px;
}
.botonhero3 {
  background-color: #FB0928;
  width: 13.2em;
  height: 2.6em;
  font-size: 20px;
  border-radius: 20px;
  font-weight: 500;
  color: white;
  margin-top: 25px;
 }

.section1-2{
  width: 50%;
  padding: 120px 10vw 0px 10vw;
  z-index: 2;
}
.section2{
  height: 85vh;
  width: 100%;
}
.section2-1{
  background-color: #111112;
  height: 30%;
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
}
.ventajas{
  width: 24%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 600;
  color: white;
}
.tituloVentaja{
  margin-bottom: 5px;
  font-weight: 900;
}
.textVent{
  font-size: .8rem;
  font-weight: 100;
}
.contVentajasText{
  width: 77%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.ventajas img{
  width: 22%;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
  margin: 0;
}
.section2-2{
  height: 70%;
  display: flex;
  gap: 5px;
}
.testimonio{
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}
.testimonio p{
  font-weight: 500;
  text-align: center;
}
.img-testimonio{
  width: 50%;
  object-fit: cover;
}

#testimonio4{
  display: none;
}
.boton{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
.vector{
  width: 20px;
  margin-left: 10px;
}
.vector2{
  width: 30px;
}
.col-auto{
  display: flex;
  gap: 15px;
  justify-content: center;
}
#btn-pixel{
  margin: auto;
  width: 50%;
  height: 3rem;
  border-radius: 20px;
  background-color: #333;
  border: 0px;
  font-weight: 0;
}
#btn-pixel:hover{
  background-color: #FF0A2C;
}
#btn-pixel2{
  margin: auto;
  width: 50%;
  height: 3rem;
  border-radius: 20px;
  border: .5px solid gray !important;
  background-color: #111112;
  border: 0px;
  font-weight: 0;
}
#btn-pixel2:hover{
  background-color: #FF0A2C;
}
.botonhero2 {
  background-color: #0080FF;
  font-family: inherit;
  display: inline-block;
  width: 13.2em;
  height: 3.6em;
  line-height: 2.5em;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 15px;
  font-weight: 500;
  color: white;
 }
 
 .botonhero2:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .botonhero2:hover {
  color: #ffffff;
  background-color: #0076ec;
 }
 
 .botonhero2:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .botonhero2:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .botonhero2:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }
 .botonhero4 {
  background-color: #FF0A2C;
  font-family: inherit;
  display: inline-block;
  width: 16.2em;
  height: 4.6em;
  line-height: 2.5em;
  margin-top: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 35px;
  font-weight: 500;
  color: white;
 }
 .botonhero4:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .botonhero4:hover {
  color: #ffffff;
  background-color: #da0b26;
 }
 
 .botonhero4:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .botonhero4:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .botonhero4:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }
 
 .section3{
  height: 160vh;
  background-color: rgb(245, 245, 245)
 }
.quienesSomos{
  height: 50%;
  background-color: rgb(238, 238, 238)(233, 233, 233);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: -110px;
}
.infoImgQuienesSomos{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
}
.info{
  width: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sobreNosotrosTitulo{
  text-align: start;
  width: 80%;
  margin: 0;
}
.sobreNosotrosTitulo2{
  text-align: start;
  width: 80%;
  font-size: 38px;
  font-weight: 800;
}
.textNosotros{
  width: 80%;
  text-align: start;
  font-weight: 550;
  font-size: .9rem;
}
.info2{
  width: 36%;
  display: flex;
  justify-content: center;
}
.info2 img{
  object-fit: contain;
  width: 90%;
}
.herramientas{
  margin-top: -50px;
  height: 20%;
  display: flex;
  gap: 8%;
  flex-direction: column;
}
.bordeGris{
  margin-top: -50px;
  background-color: rgb(245, 245, 245);
  height: 20%;
}
.herramientasusadas{
  margin-left: 6.4%;
}
.contHerramientas{
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 1%;
  padding-left: 4.4%;
  padding-right: 4%;
}
.herrameinta{
  width: 18%;
  height: 25%;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  align-items: center;
}
.imgHerr{
  width: 70px;
}
.nameHerr{
  color: white;
  margin: 0;
  font-size: 1.2rem;
}
.proyectos{
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.proyectosTitulo{
  margin-bottom: 5px;
  margin-top: 35px;
  font-weight: 800;
  font-size: 1.5rem;
}
.proyectosCont{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.itemProyecto{
  width: 30%;
  height: 75%;
  display: flex;
  align-items: center;
  padding: 30px;
}
.itemProyecto a{
  display: flex;
  justify-content: center;
}
.imgProyectos {
  width: 90%;
}
.itemProyecto a:hover{
  filter: brightness(.5)
}

.review{
  background-image: url(../src/Img/Portada\ Facebook\ copia\ -\ Sierras\ de\ Calamuchita\ 1.png);
  background-size: cover;
  width: 100%;
  height: 25rem;
  position: relative;
  margin: 3rem 0;
  display: flex;
}

.review .review-slider{
  background-color: white;
  padding: 2rem;
  width: 70%;
  height: 110%;
  margin-top: -2rem;
  margin-right: 40rem;
  margin-left: 35rem;
  padding-top: 3%;
  color: var(--white);
  border-radius: 20px;
  box-shadow: 2px 2px 15px;
}
.textoComentarios{
  padding: 0 !important;
  margin: 0;
}
.textoComent{
  font-size: 1rem !important;
  text-align: start;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review .slide{
  text-align: center;
}

.review .slide .heading{
  color: var(--white);
}

.review .slide p{
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
}

.review .slide .user{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: start;
  padding:0;
  border-radius: .5rem;
}
#userInfo{
  text-align: start;
}
.review .slide .user img{
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  background-color: #afafaf;
  border-radius: 50%;
  padding: 0 !important;
}

.review .slide .user h3{
  font-size: 2rem;
  color: var(--black);
  padding-bottom: .5rem;
}

.review .slide .user i{
  font-size: 1.3rem;
  color: var(--primary);
}

.navbar-toggler[aria-expanded="true"] {
  background-color: #f3f3f3;
  border-color: #2d1eff; 
}

.navbar-collapse.show {
  background-color: #000000;
  padding: 8px;
  border-radius: 5px;
  z-index: 10 !important;
}

.swiper-pagination{
  display: flex;
  justify-content: center;
  width: 90%;
}

.vector-coment{
  width: 100%;
  height: 15px;
  object-fit: contain;
  margin-top: 15px;
}

.btnWpp{
  position: fixed;
  z-index: 999;
  left: 1vw;
  bottom: 5vh;
}

.btnWpp img {
  width: 110px;
}

.btnWpp:hover{
  scale: 1.2;
  transition: 1;
}

.botonfinal{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  margin-left: -40%;
}

footer{
  height: 35vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 10, 10);
}

.redes{
  display: flex;
  width: 100%;
  height: 70%;
}

.footerSection1{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  color: white;
  font-size: 32px;
  padding-left: 5%;
  padding-right: 2%;
  line-height: 1.5;
}

.spanFooter{
  color: #FF0A2C;
  font-weight: bold;
  font-size: 34px;
}

.text2Footer{
  font-size: .8rem;
}

.footerSection2{
  width: 50%;
}

.copi{
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-evenly;
}

.textFooter{
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
}

.logoFoter{
  object-fit: contain;
}

.divHr{
  display: flex;
  justify-content: center;
}

.hr{
  height: 2px;
  width: 90%;
  background-color: white;
  margin: 0 !important;
  color: white !important;
  border-top: none !important; 
}

.footerLinks{
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: center;
  gap: 6%;
  padding-top: 2%;
  align-items: center;
}

.footerLinks a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.footerLinks a:hover{
  color: #FF0A2C;
}

.footerRedes{
  display: flex;
  height: 55%;
  justify-content: center;
  gap: 6%;
  align-items: start;
  padding: 10px;
}

.botonhero5 {
  background-color: #0080FF;
  width: 13.2em;
  height: 2.6em;
  font-size: 20px;
  border-radius: 20px;
  font-weight: 500;
  color: white;
 }

 .botonhero5:hover {
  background-color: #0063c7;
 }

 .botonfinal{
  margin-left: -150%;
}

@media (min-width: 320px) and (max-width: 1150px) {
  .review .review-slider{
    margin-right: 7rem;
    margin-left: 2rem;
    padding: 40px 20px;
  }
  .review .slide p{
    font-size: 1rem;
  }
  #btn-pixel{
    width: 100%;
  }
  .imgTecnos{
    width: 300px !important;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .herramientasusadas{
    margin: 0;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1149px) {
  .herramientasusadas{
    margin: 0;
    margin-left: 60px;
  }
}

@media (min-width: 1151px) and (max-width: 1950px) {
  .review .review-slider{
    margin-right: 27% !important;
    margin-left: 2rem;
  }
  .review .slide p{
    font-size: 1.3rem;
  }
  .review .review-slider{
  margin-right: 35%;
  margin-left: 10%;
  }
}

@media (min-width: 320px) and (max-width: 440px) and (min-height: 600px) and (max-height: 840px) {
  .App-logo {
    width: 80% !important;
  }
  .section1{
    height: 140vh !important;
  }
  .section2-1{
    padding-top: 2% !important;
  }
  .quienesSomos{
    height: 140vh !important;
  }
  .herramientas{
    height: 60vh;
  }
  .proyectos{
    height: 100vh !important;
  }
  .review{
    margin-top: 110vh !important;
    height: 80vh !important;
  }
  footer{
    height: 42vh !important;
  }
  .logoFoter{
    width: 35% !important;
  }
}
@media (min-width: 320px) and (max-width: 408px) {
  .section1-2{
    padding-top: 30%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media (min-width: 320px) and (max-width: 850px) {
  #app-header img{
    width: 245px;
    object-fit: contain;
    padding: 0 !important;
  }
  .section1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115vh !important;
  }
  .bienvenida{
    font-size: .5rem;
  }
  .textHero1{
    font-size: 1.3rem;
  }
  .textHero{
    font-size: .8rem;
  }
  .boton1{
    display: none;
  }
  .email{
    display: none;
  }
  .section1-1{
    padding-left: 5%;
    /* padding-top: 22%; */
    height: 22rem;
    width: 100%;
  }
  #btn-pixel{
    font-size: .8rem;
    width: 57%;
  }
  #btn-pixel2{
    font-size: .8rem;
    width: 45%;
  }
  .vector{
    width: 16px;
    margin: 0;
  }
  .vector2{
    width: 20px;
    margin-left: 10px;
  }
  
  .section1-2{
    width: 100%;
  }
  .section2-1{
    gap: 0;
    font-size: .5rem;
  }
  form{
    margin-top: -30%;
    padding: 7%;
  }
  .filtro{
    height: 115vh;
  }
  .ventajas{
    flex-direction: column;
    padding-top: 1.8rem;
    font-size: .5rem;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  .ventajas img{
    width: 50%;
  }
  .textVent{
    font-size: .5rem;
  }
  .contVentajasText{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .boton{
    margin-top: 180px;
  }
  .botonhero2{
    margin-top: -135px;
  }
  .sobreNosotrosTitulo{
    text-align: center;
  }
  .sobreNosotrosTitulo2{
    font-size: 2.2rem;
    text-align: center;
  }
  .textNosotros{
    font-size: 1rem;
    text-align: center;
  }
  .section2-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section1{
    background-position: top;
    background-size: cover;
  }
  .section3{
    height: 200vh;
  }
  .infoImgQuienesSomos{
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
  }
  .info{
    width: 100%;
    padding-top: 7%;
  }
  .info2{
    width: 100%;
  }
  .info2 img{
    width: 90%;
  }
  .textNosotros{
    margin: 0;
  }
  .herramientasusadas{
    margin-bottom: 1%;
    margin-top: 3%;
  }
  .contHerramientas{
    padding-left: 10px;
    padding-right: 10px;
    height: 60%;
  }
  .herramientas{
    margin-top: 17%;
  }
  .herrameinta{
    height: 25px;
    width: 120px;
  }
  .imgHerr{
    width: 30px;
  }
  .nameHerr{
    font-size: .6rem;
    text-align: end;
  }
  .proyectos{
    margin-top: -50px;
  }
  .proyectosCont{
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .proyectosTitulo{
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .itemProyecto{
    width: 330px;
    padding: 5px;
  }
  .imgTecnos{
    width: 300px !important;
  }
  .review{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    height: 65vh;
    padding-right: 0 !important;
    align-items: center;
  }
  .textoComent{
    font-size: .9rem !important;
    text-align: center;
    padding: 0 !important;
    padding-top: 20px !important;
  }
  .review .review-slider{
   margin-right: 0;
   margin-left: 0;
    width: 85%;
  }
  .contBoton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botonfinal{
    display: flex;
    justify-content: center !important;
    margin: 0;
    padding-bottom: 4%;
    align-items: center;
  }
  .review .slide .user img{
    height: 6rem;
    width: 6rem;
    padding: 5px;
  }
  .review .slide .user h3{
    font-size: 1rem;
    color: var(--black);
    padding-bottom: .5rem;
  }
  .textoComentarios{
    font-size: .8rem !important;
  }
  .footerLinks{
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    height: 35%;
    padding-top: 5%;
  }
  .footerLinks a{
    font-size: .8rem;
  }
  .footerRedes{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
   .footerRedes a{
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .botonhero5{
    width: 80%;
    height: 40px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
  }
  .footerSection1{
    padding: 5px;
    font-size: 1rem;
  }
  .spanFooter{
    color: #FF0A2C;
    font-weight: bold;
    font-size: 1rem;
  }
  .text2Footer{
    font-size: .6rem;
  }
  .textFooter{
    font-size: .35rem;
  }
  .logoFoter{
    width: 120px;
  }
  .botonhero4 {
   margin-top: 5%;
   }
}
@media (min-width: 851px) and (max-width: 1086px) {
  .section1-2 {
    padding: 120px 5vw 0px 5vw;
  }
  .textHero1 {
    font-size: 1.9rem;
}
  .email {
    margin-top: 7vh;
  }
  .vector{
    display: none;
  }   
}
@media (min-width: 850px) and (max-width: 1600px) {
  .botonhero4 {
    margin-right: -280%;
  }
  .footerLinks{
    justify-content: center;
    gap: 10px;
  }
  .footerRedes{
    width: 100%;
    margin-right: 15% !important;
    gap: 10%;
  }
  .botonhero5{
    width: 120%;
  }
  .vector{
    display: none;
  }  
}

@media (min-height: 320px) and (max-height: 750px) {
  .section2-1{
    padding-top: 0 !important;
    height: 35vh;
  }
}

@media (min-height: 320px) and (max-height: 750px) {
  .section1{
    padding-top: 0;
    height: 100vh;
  }
  .section1-2{
    padding-top: 7%;
  }
  .section2-1{
    padding-top: 10%;
    height: 35vh;
  }
  .section2-2{
    height: 55vh;
  }
  .contVentajasText{
    align-items: center;
    margin: 0 !important;
    width: 100%;
    padding: 5px;
  }
  #app-header{
    height: 13vh;
    padding: 0 !important;
  }
  .email{
    margin-top: 1%;
  }
  form{
    margin-top: -10%;
  }
  form h2{
    font-size: 1rem;
  }
  .col-auto{
    margin: 0;
  }
  #btn-pixel{
    font-size: .7rem;
  }
  #btn-pixel2{
    font-size: .7rem;
  }
  .vector{
    width: 20px;
  }
  .filtro{
    height: 100%;
  }
  .contVentajasText{
    text-align: start;
    margin-right: 10px;
  }
  .botonhero2{
    margin-bottom: 7%;
  }
  .info2 img{
    width: 100%;
    margin-right: 12%;
  }
  .sobreNosotrosTitulo2{
    font-size: 1.9rem;
  }
  .textNosotros{
    font-size: .9rem;
  }
  .imgHerr{
    width: 35px;
  }
  .botonfinal{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: start;
    height: 100%;
  }
  .review{
    width: 100%;
    padding-right: 10%;
  }
  .review .review-slider{
    width: 85%;
  }
  .footerSection1{
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 6%;
  }
  .footerSection1 p{
    margin: 0;
  }
}