.App-header{
  background-color: rgb(0, 0, 0);
  height: 10vh;
  display: flex;
  padding-left: 2VW;
}
.App-header img{
  width: 140px;
  object-fit: cover;
}
label{
  color: rgb(248, 248, 248);
}
form{
  background-color: rgba(0, 0, 0, 0.788);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px white;
}
form h2{
  text-align: center;
  color: aliceblue;
}
.section1{
  background-image: url(./Img/fondo.npg.webp);
  background-size: cover;  
  height: 90vh;
  display: flex;
  padding-top: 3vh;
}
.section1-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 3vw 0px 3vw;
  gap: 25px;
}
.imgHero{
  width: 70%;
  margin-top: 30px;
}
.textHero{
  color: rgb(248, 248, 248);
  text-align: center;
  font-size: 1.2rem;
}
.section1-2{
  width: 50%;
  padding: 120px 10vw 0px 10vw;
}

.section2{
  height: 85vh;
  width: 100%;
}
.section2-1{
  background-color: rgb(224, 224, 224);
  height: 30%;
  display: flex;
  gap: 5px;
}
.ventajas{
  width: 25%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-weight: 600;
}
.ventajas img{
  width: 20%;
  object-fit: contain;
}
.dominio{
  width: 17% !important;
}
.seo{
  margin-top: 10px;
  width: 25% !important;
}

.section2-2{
  height: 70%;
  display: flex;
  gap: 5px;
}
.testimonio{
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}
.testimonio p{
  font-weight: 500;
  text-align: center;
}
.img-testimonio{
  width: 50%;
  object-fit: cover;
}
footer{
  background-color: rgb(59, 59, 59);
  height: 15vh;
  display: flex;
}
.redes{
  display: flex;
  width: 50%;
  align-items: center;
  gap: 15%;
  padding-left: 5%;
}
.copi{
  display: flex;
  align-items: center;
  width: 48%;
  justify-content: end;
}
.copi p{
  color: white;
}
span{
  font-weight: 600;
  color: rgb(255, 255, 255);
}
#testimonio4{
  display: none;
}
.boton{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 18em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button:hover {
  color: #fff;
 }
 
 button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }
@media (min-width: 320px) and (max-width: 750px) {
  .section1-1{
   display: none;
  }
  .section1-2{
    width: 100%;
  }
  .section2-1{
    gap: 0;
    font-size: .5rem;
  }
  .ventajas{
    padding: 2px;
    justify-content: center;
    gap: 25px;
  }
  .ventajas img{
    width: 50%;
  }
  .dominio{
    width: 40% !important;
  }
  .section2-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
  .seo{
    width: 65% !important;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  .testimonio{
   font-size: .5rem;
   padding: 5px;
   width: 48%;
  }
  #testimonio4{
    display: flex;
  }
  #testimonio4 img{
    width: 33% !important;
  }
  .section1{
    background-position: top;
    background-size: cover;
  }
}
@media (min-height: 320px) and (max-height: 750px) {
  .section1{
    padding-top: 0;
    height: 120vh;
  }
  .section2-1{
    height: 35vh;
  }
  .section2-2{
    height: 55vh;
  }
}