.App-header{
  background-color: rgb(15, 15, 15);
  height: 15vh;
  display: flex;
}
.App-header img{
  width: 140px;
}

.section1{
  background-color: rgb(151, 141, 141);
  height: 85vh;
  display: flex;
}
.section1-1{
  width: 50%;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 3vw 0px 3vw
}
.imgHero{
  width: 70%;
}
.section1-2{
  width: 50%;
  background-color: rgb(223, 101, 101);
  padding: 120px 10vw 0px 10vw;
}

.section2{
  height: 85vh;
  width: 100%;
}
.section2-1{
  height: 30%;
  display: flex;
  gap: 5px;
}
.ventajas{
  width: 25%;
  background-color: rgb(192, 173, 173);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}
.ventajas img{
  width: 20%;
  object-fit: contain;
}
.dominio{
  width: 17% !important;
}
.seo{
  margin-top: 10px;
  width: 25% !important;
}

.section2-2{
  height: 70%;
  display: flex;
  gap: 5px;
}
.testimonio{
  width: 33.3%;
  background-color: rgb(177, 148, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}
.img-testimonio{
  width: 50%;
}
footer{
  background-color: rgb(224, 224, 224);
  height: 15vh;
  display: flex;
}
.redes{
  display: flex;
  width: 50%;
  align-items: center;
  gap: 15%;
  padding-left: 5%;
}
.copi{
  display: flex;
  align-items: center;
  width: 48%;
  justify-content: end;
}